$index: calc(1vh + 1vw);

.settings {
  display: flex;
  width: 100%;
  height: 100vh;

  aside {
    width: 29%;
    height: 100%;
    background: #2B2D31;
    padding: 40px 20px;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      background: #2B2D31;
      width: calc($index * .2);
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
      background: #1A1B1E;
      border-radius: 10px;
    }

    .blocks {
      margin-left: calc($index * 6.5);
      height: fit-content;

      .aside_relative_block {
        padding-bottom: 15px;
        margin-top: 15px;
        position: relative;

        .name_block {
          padding: 0 10px;

          h3 {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            -o-text-overflow: ellipsis;
            color: #B9BBBE;
            text-transform: uppercase;
            font-size: calc($index * .6);
            margin-bottom: 5px;
            font-weight: 700;
          }
        }

        .aside_block {
          padding: 5px 10px;
          border-radius: 3px;

          h4 {
            color: #B9BBBE;
            font-size: calc($index * 0.75);
            font-weight: 500;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            -o-text-overflow: ellipsis;
          }

          &:hover {
            background: #313338;
          }
        }

        &::before {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 1px;
          background: #474849;
        }
      }
    }
  }
}