$index: calc(1vh + 1vw);

.profile {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: calc($index * 2.5);
  background: #292B2F;
  display: flex;
  align-items: center;

  @media (max-width: 800px) {
    height: calc($index * 3);
  }

  @media (max-width: 340px) {
    height: calc($index * 3.5);
  }

  .user {
    display: flex;
    align-items: center;
    margin-left: 10px;

    .left {
      .avatar {
        width: calc($index * 1.7);
        height: calc($index * 1.7);
        border-radius: 50%;
        background: #000;
        position: relative;

        @media (max-width: 430px) {
          width: calc($index * 2.5);
          height: calc($index * 2.5);
        }

        .avatar_status {
          width: calc($index * .7);
          height: calc($index * .7);
          background: #292B2F;
          position: absolute;
          border-radius: 50%;
          right: 0;
          bottom: 0;

          svg {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
          }
        }
      }
    }

    .right {
      margin-left: 5px;

      h4 {
        font-size: calc($index * .7);
        color: #fafafa;
        font-weight: 400;

        @media (max-width: 500px) {
          font-size: calc($index);
        }
      }

      p {
        color: #C7C9CB;
        font-size: calc($index * .6);

        @media (max-width: 500px) {
          font-size: calc($index * .8);
        }
      }
    }
  }

  .buttons {
    margin-left: 5px;
    display: flex;
    align-items: center;

    svg {
      margin-left: 10px;
    }
  }
}